<nav class= "navbar navbar-inverse navbar-fixed-top">
    <div class= "container">
         <a class="navbar-brand" href="#page-top">Home</a>
        <p class="navbar-text navbar-right">Go to <a href="https://www.facebook.com/joshua.nostas" class="navbar-link">Facebook Profile</a></p>
              <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active">
                  <a class="page-scroll" [routerLink]="['/demo']">Profile</a>
                </li>
                <li routerLinkActive="active">
                  <a class="page-scroll" [routerLink]="['/comp']">Experience</a>
                </li>
         </ul>         
    </div>
</nav>